<h3>Уважаемый администратор!</h3>
<p>На сайт добавлено предложение новости</p>
<p>"{{ title }}"</p>
<p>от пользователя "{{ username }}"<br></p>

<p>Вы можете отредактировать новость по ссылке:</p>
<p><a href="{{ link }}">{{ link }}</a></p>
